<!-- Company details page -->

<h1><%= @company["name"] %></h1>

<% if @company["url"] %>
  <p>
    <a href="<%= @company["url"] %>" target="_blank"><%= @company["url"] %></a>
  </p>
<% end %>

<h2><%= @company["city"]%>, <%= @company["state"] %></h2>

<h3>Contacts</h3>

<ul>
  <% for contact in @contacts %>
    <li>
      <%= contact["first_name"] %> <%= contact["last_name"] %> - <%= contact["email"] %>
    </li>
  <% end %>
</ul>

<p>
  <a href="/contacts/new?company_id=<%= @company["id"] %>">New Contact</a>
</p>

<p>
  <a href="/companies">Back to All Companies</a>
</p>